h1 {
  margin:20px;
}

.contact-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

.icons-container {
  display: flex;
  align-items: center; 
  margin-left: auto;
  
}

mat-icon:hover {
  color: black; 
}

.star-icon {
  text-shadow: 0px 0px 2px black;
}

mat-icon{
  cursor: pointer;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  gap: 12px; 
}

.avatar-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  flex-shrink: 0; 
}

.avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 16px;
  font-weight: 500; 
  color: #2c3e50; 
  font-family: "Roboto", sans-serif;
}

.user-role {
  font-size: 14px;
  font-weight: 400; 
  color: #7f8c8d;
}


@media (max-width: 600px) {
  .user-info {
    flex-direction: row;
    align-items: center;
  }
  
  .avatar-container {
    width: 40px;
    height: 40px;
  }

  .user-name {
    font-size: 14px;
  }

  .user-role {
    font-size: 12px;
  }
}

/* Contact Details */
.contact-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.info-label {
  font-size: 14px;
  color: #777;
}

.info-value {
  font-size: 16px;
  font-weight: 500; 
  color: #2c3e50; 
  font-family: "Roboto", sans-serif; 
  letter-spacing: 0.5px; 
}

.full-width {
  grid-column: span 2;
}

.button-container {
  display: flex;
  gap: 12px; 
  margin-top: 10px;
  margin-left: 10px; 
}

.btn {
  border: 2px solid transparent; 
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  outline: none; 
}

.edit-btn {
  background: #64c0cc;
  color: white;
 }

.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: 2px solid #ff4d4d;
}

.btn:hover {
  opacity: 0.85;
}


/* edit user */

.edit-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto 0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;

}

label {
  margin-bottom: 5px;
  font-size: 16px;
}


















