.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
  }

  .icon-container{
    margin-top: 15px !important;
    display: flex;
    align-items: center;
    gap: 12px !important;
  }
  
  mat-icon:hover {
    color: black; 
  }

  mat-list-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.selected-user {
  background-color: #f0f8ff; 
  border-left: 3px solid #007bff; 
  transition: background-color 0.3s, border-left 0.3s;
}



  .star-icon {
    cursor: pointer;
    text-shadow: 0px 0px 2px black;
  }
  
  mat-form-field {
    width: 100%;
    max-width: 300px; 
    margin-top: 15px ;
    margin-left: 30px;
  }